<mat-toolbar color="primary" class="mat-elevation-z20 main-menu">
  <span>Agüita de Coco</span>
  <button mat-button [matMenuTriggerFor]="menu">Productos</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/lista" routerLinkActive="active">Listado</button>
    <button mat-menu-item routerLink="/registro" routerLinkActive="active">Registrar</button>
  </mat-menu>
  <button mat-button routerLink="/carrito" routerLinkActive="active">Carrito</button>

</mat-toolbar>


<router-outlet></router-outlet>
