.producto-card{
    max-width: 300px;
    margin-top: 15px;
  
  }
  
  .producto-header-image{
    background-image: url('http://via.placeholder.com/50x50?text=thumb');
    background-size: cover;
  }

  .imagen-card{
    max-width: 100px;
  }
  
  .pull-right {
    text-align: right;
  }
  
  .full-button{
      width: 100%;
  }